/inspinia/dist
/server/build
/server/gradle
/inspinia/.bowerrc
/inspinia/.yo-rc.json
/inspinia/.jscsrc
/inspinia/gradle
/inspinia/node_modules
/gradle
/.gradle
/.idea
/target
/node_modules
/inspinia/.tmp
/inspinia/vendor
*.lock
*.jar
out/artifacts/humancloud/exploded/humancloud-0.0.1-SNAPSHOT.war/META-INF/MANIFEST.MF
*.bin
*.iml
.idea/artifacts/Gradle___server_server___server_0_1_war__exploded_.xml
build/tmp/war/MANIFEST.MF
client/.travis.yml
out/artifacts/server/exploded/server-0.1.war/META-INF/MANIFEST.MF
gradlew
*.jshintrc
client/.yo-rc.json
client/.bowerrc
.idea/artifacts/Gradle___com_sprinten_humancloud___humancloud_0_0_1_SNAPSHOT_war.xml
*.editorconfig
client/.jscsrc
.idea/artifacts/Gradle___com_sprinten_humancloud___humancloud_0_0_1_SNAPSHOT_war__exploded_.xml
gradlew.bat
.idea/artifacts/Gradle___server_server___server_0_1_war.xml
