.gradle/2.5/taskArtifacts/cache.properties
*.lock
server/gradlew
server/gradlew.bat
*.jar
out/artifacts/humancloud/exploded/humancloud-0.0.1-SNAPSHOT.war/META-INF/MANIFEST.MF
*.bin
.idea/.name
.idea/compiler.xml
server/gradlew.bat
server/gradle/wrapper/gradle-wrapper.jar
*.iml
.idea/.name
.idea/artifacts/Gradle___server_server___server_0_1_war__exploded_.xml
build/tmp/war/MANIFEST.MF
client/.travis.yml
out/artifacts/server/exploded/server-0.1.war/META-INF/MANIFEST.MF
gradlew
*.jshintrc
client/.yo-rc.json
client/.bowerrc
.idea/artifacts/Gradle___com_sprinten_humancloud___humancloud_0_0_1_SNAPSHOT_war.xml
.idea/encodings.xml
.idea/workspace.xml
*.editorconfig
client/.jscsrc
server/gradle/wrapper/gradle-wrapper.properties
.idea/gradle.xml
gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
.idea/artifacts/Gradle___com_sprinten_humancloud___humancloud_0_0_1_SNAPSHOT_war__exploded_.xml
gradlew.bat
.idea/artifacts/Gradle___server_server___server_0_1_war.xml
.idea/copyright/profiles_settings.xml
.idea/modules.xml