/inspinia/dist
/server/build
/server/gradle
/inspinia/.bowerrc
/inspinia/.yo-rc.json
/inspinia/.jscsrc
/inspinia/gradle
/inspinia/node_modules
/gradle
/.gradle
/.idea
/target
/node_modules
/inspinia/.tmp
/inspinia/vendor
*.lock
*.jar
*.bin
*.iml
gradlew
*.jshintrc
*.editorconfig
gradlew.bat